


.title {
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 300%;
    background-color: #eab676;
}

.detail {
    color: black;
    font-size: 200%;
    background-color: #eab676;
}